

#AddItemTitle
{
    margin: 30px;
}
.switchingBlock
{
    display: flex;
   
    align-items: center;
    justify-content: center;
}


.switchingLinkOn
{
    background-color: rgba(151, 204, 232, 1);
    color: black;
    text-align: center;
    margin: 10px;
    padding: 15px;
    width: 270px;
    border-radius: 5px;
}

.switchingLinkOff
{
    background-color:rgba(217, 217, 217, 1);
    color: black;
    text-align: center;
    margin: 10px;
    padding: 15px;
    width: 270px;
    border-radius: 5px;
}

label
{
    width: 100px;
}

select
{
    background-color: rgba(151, 204, 232, 1);
    padding: 4px;
    border: none;
    border-radius: 5px;
    width: 250px;
 
}

.ConfirmButtton
{
    background-color:rgba(151, 204, 232, 1) ;
    padding: 15px;
    width: 250px;
    border: none;
    border-radius: 5px;
    font-family: 'Inter';
    font-weight: 800;

}
