@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

/* Base styles */

.container1Acceuil {
    display: flex;

    padding: 100px;
    align-items: center;
    justify-content: center;

}

.Part1Container1 {
    width: 80%;
    margin-right: 70px;
    text-align: center;

}

.Part2Container1 h1 {
    font-size: 75px;
    
    color: #97CCE8;
    font-family: "Krona One", sans-serif;
    font-weight: 500;
}

.Part1Container1 p {
    margin-top: 50px;
    font-weight: 500;
}

.Part1Container1 h1 {
    font-size: 40px;
    font-weight: bold;
}

.homeButtons
{
    
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.Part1Container1 button {
    background-color: #97CCE8;
    border: none;
   margin: 10px;
    border-radius: 20px;
    padding: 10px;
    width: 160px;
    font-size: 12px;
    color: white;
    font-weight: 500;
}

.Container2Acceuil {
    background-color: #97CCE8;
    padding: 10px;
    margin-bottom: 100px;
}

.mycontainer {
    display: flex;
  margin-top: 50px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 10px;
}

.mycard {

    
    width: 600px;
    text-align:center;
    height: 150px;
    margin-bottom: 20px;
    padding: 20px;
}

.mycard p
{
    text-align: center;
}

.myflech {
    margin-left: 0px;
    text-align: center;
    width: 100px;
    
}


@media screen and (max-width:1050px) {

.container1Acceuil
{
    display: flex;
    flex-direction: column-reverse;
    
    
}
.Part1Container1
{
   
    width: 100%;
    margin-right: 0px;
}
.Part2Container1
{
 
    margin-bottom: 10px;
    width: 100%;
    
}

.mycard
{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

  
}


@media screen and (max-width:975px) {
   
    .mycard
    {
        height: 300px;
        
    }

     
    

}


@media screen and (max-width:730px) {

    .Container2Acceuil
    {
        
        display: flex;
        justify-content: space-evenly;
        
    }
    .myflech
    {
       
       transform: rotate(90deg);
       width: 20px;
       margin-right: 0px;
       margin-bottom: 10px;
       margin-top: 10px;
     
       
    }

    .mycontainer
    {
        display: flex;
        flex-direction: column;
        
        background-color: #97CCE8;
    }

    .mycard
    {
        width: 200px;
        margin: 0px;
    }
}

@media screen and (max-width:620px) {


    .container1Acceuil
{
   
    display: flex;
    flex-direction: column-reverse;
    
    
}
.Part1Container1
{
  
    width: 80vw;
    margin-right: 0px;
}
.Part2Container1
{
    
    margin-bottom: 10px;
    width: 80vw;
    
}
    
}


@media screen and (max-width:500px) {


    .container1Acceuil
{
    
   
    display: flex;
    flex-direction: column-reverse;
    
    
}
.Part1Container1
{
    width: 80vw;
    margin-right: 0px;
}

.Part1Container1 h1
{
    font-size: 30px;
}


.Part2Container1
{
    
    margin-bottom: 10px;
    width: 80vw;
    
}

.Part2Container1 h1
{
    
    font-size: 40px;
}

.homeButtons
{
    display: flex;
    flex-direction: row;
    
    
}

.Container2Acceuil
{
    display: flex;
    flex-direction: column;
}



.mycard
{
    width: 80%;
    height: auto;
}
    
}