@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');



.relative-container1 {
    position: relative;
    height: 120vh;
    border: solid rgb(151, 204, 232);
    width: 250px; 
    margin-top: 3px;
    margin-right: 5px;
    border-radius: 5px;
    margin-bottom: 3px;
    font-family: "Krona One", sans-serif;
  }
  
  .sidenav {
    position: absolute;
    top: 80px; 
    left: 0;
    width: 100%;
  }
  
  .nav-link {
    display: block;
    padding: 15px 20px; 
    text-decoration: none;
 
    font-size: 16px;
    margin-bottom: 60px;
 
    transition: background-color 0.5s ease; /* Add smooth transition effect */
  }
  
  .nav-link:hover {
    background-color:rgb(151, 204, 232);
    color: white; /* Change text color on hover */
  }
 
  .myicon{
   
    margin-right: 10px;
    font-size: 20px;
  }
 .nav-linkMYButton{
  border: none;
  background-color: white;

 }
 .nav-linkMYButton:hover{
  
  color:rgb(151, 204, 232);
  font-weight: bold;
 }