

.menu {
    position: relative;
    width: 20%;
    
  }
  .userName{
margin-top: 12px;
    font-weight: 648;
    font-size: 20px;
    
  }


  
  .linksList {
    display: none;
    position: absolute;
    top: 100%;
    left: 5%;
    background-color: rgb(151, 204, 232);
    border: none;
    padding: 5px;
    border-radius: 10px;
    transition: background-color 0.5s ease; /* Add smooth transition effect */

    
  }

  .userProfileButton{
    border: solid white;
    background-color: rgb(151, 204, 232) ;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 5px;
    color:white;
    transition: background-color 0.5s ease; /* Add smooth transition effect */

  }
  .userProfileButton:hover{
    background-color:white;
    color: rgb(151, 204, 232) 
  }
  
  .menu:hover .linksList {
    display: block;
    
  }
  
  .userProfileLinks {
    display: block;
    margin: 0;
    text-decoration: none;
    color: #333;
    padding: 5px ;
    text-align: center;
    border: none;
  
  }
  
   
  .userProfileLinks:hover {
    
    background-color:white;
    color: rgb(151, 204, 232) 
  }
  /* Adjust styles as needed */
  
  @media screen and (min-width:1200px) {
    .menu
    {
        display: flex;
        justify-content: center;
        align-items: center;
       
    }

    .linksList {
        display: none;
        position: absolute;
        top: 100%;
        left: 25%;
       
        
        padding: 5px;
        text-align: center;
        width:175px;
      }
      
    
    

}


@media screen and ( max-width:1199px) and (min-width:992px) {

    .menu
    {
        display: flex;
        justify-content: center;
        align-items: center;
       
    }

    .linksList {
        display: none;
        position: absolute;
        top: 100%;
        left: 25%;
   
        
        padding: 5px;
        text-align: center;
        width:175px;
      }
      
    

}


@media screen and ( max-width:992px) and (min-width:768px) {

    .menu
    {
        display: flex;
        justify-content: center;
        align-items: center;
       
    }

    .linksList {
        display: none;
        position: absolute;
        top: 100%;
        left: 25%;
       
        
        padding: 5px;
        text-align: center;
        width:175px;
      }
      
    

}


@media screen and ( max-width:768px) and (min-width:576px) {

    .menu
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
       
    }

    .linksList {
        display: none;
        position: absolute;
        top: 100%;
        left: 10%;
        
        
        padding: 5px;
        text-align: center;
        width:175px;
      }
      
    

}

@media screen and ( max-width:576px) {

    .menu
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
       
    }

    .linksList {
        display: none;
        position: absolute;
        top: 100%;
        left: 10%;
       
        
        padding: 5px;
        text-align: center;
        width:175px;
      }

     
      
    

}